<ion-content>
  <div class="header">
    <ion-button style="float: left">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <h2>E.S Tricot</h2>
    <ion-button style="float: right;">
      <ion-icon name="basket"></ion-icon>
    </ion-button>
    <ion-searchbar placeholder="Buscar" animated>
    </ion-searchbar>
  </div>
  <ion-slides pager>
    <ion-slide>
      <img src="assets/images/logo.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/logo.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/logo.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/logo.png">
    </ion-slide>
  </ion-slides>
</ion-content>