<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <h2>E.S Tricot</h2>
    <ion-button slot="end">
      <ion-icon name="basket"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar" animated>
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let p of products" (click)="openPageSeeProducts()">
    <div class="produto">
      <img [src]="p.urlImage">
  </div>
   <ion-item lines="none">{{ p.name }}</ion-item>
   <ion-text class="price">R$ {{ p.price }}</ion-text><br>
    <ion-text>{{ p.description }}</ion-text>
  </ion-card>
  <div class="footer">
    
  </div>
</ion-content>
