.header{
    background: #800000;
}
h2{
    width: 60%;
    float: left;
    text-align: center;
}
ion-button{
    --background: transparent;
    margin-top: 10px;

    ion-icon{
        width: 35px;
        height: 35px;
    }
}
ion-card{
    --background: #8000008e0;
    width: 44%;
    height: 40%;
    float: left;
    margin: 10px;
}
ion-item{
    --background: transparent;
    font-size: 13px;
    text-align: center;
}
.price{
    text-align: center;
    color: black;
    width: 100%;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 2px;
}
.footer{
    clear: both;
    width: 100%;
    height: 20%;
    background: #800000;
}