ion-content{
    --background: #000000;
}
.logo{
    background-image: url(../../../assets/images/logo.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 25%;
    margin-top: 25px;
}
ion-card{
    --background: #800000;
    padding: 15px;
    border-radius: 0.8em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;

    ion-card-header{
        text-align: center;
    }
}
ion-item{
    --background: transparent;
}
.item-has-focus{
    color: rgb(1, 238, 255);
    font-size: 16px;
    --border-color: rgb(1, 238, 255);
}
ion-input{
    --color: white;
}